<div class="media">
  <div class="media-left">
    <div class="boxed-icon">
      {% include components/icons/icon.liquid icon=include.icon color="danger" %}
    </div>
  </div>

  <div class="media-body">
    <p>
      {{ include.body }}
    </p>
  </div>
</div>
