<footer class="main-footer">
  <div class="container-fluid">
    {% include components/social-media/dentistsmile.liquid %}
    {% include components/copyrights/dentistsmile.liquid %}
  </div>
</footer>
