<div class="row">
  <div class="col-sm-6">
    <h3>{{ page.components.panels.media-object.subtitle }}</h3>
    <p class="text-justify py-3">{{ page.components.panels.media-object.body | default: site.description }}</p>

    <div class="row">
      {% for media-object in page.components.panels.media-object.media-objects %}
        <div class="col-xs-6">
          {% include components/media-object/bootstrap.liquid 
              icon=media-object.icon
              body=media-object.body
          %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="col-sm-6">
    <img
      src="{{ include.title | slugify | prepend: '/assets/components/panels/' | append: '.jpg' | relative_url }}"
      alt="{{ include.title }}" />
  </div>
</div>
