<ul class="social">
  {% for social-media in site.components.social-media %}
    <li>
      <a href="{{ social-media.url }}">
        <svg class="icon icon-{{ social-media.name }}">
          <use xlink:href="#icon-{{ social-media.name }}"></use>
        </svg>
      </a>
    </li>
  {% endfor %}
</ul>
