<ul class="social">
  {% for social-media in site.components.social-media %}
    <li>
      <a href="{{ social-media.url }}">
        {% include components/icons/icon.liquid icon=social-media.name %}
      </a>
    </li>
  {% endfor %}
</ul>
