/* GONFIG
-------------------------------------------------*/

/* Fonts
-------------------------------*/

/* Font family */
$fontFamilyPrimary: 'Open Sans', sans-serif;
$fontFamilySecondary: 'Nunito', sans-serif;

/* Font weight */
$fontWeightRegular: 400;
$fontWeightSemi: 600;
$fontWeightBold: 700;

/* Colors
-------------------------------*/

/* Descriptive colors */
$white: #fff;
$black: #000;
$grey: #333;
$greyLight: #555;
$gallery: #eee;
$alto: #ddd;
$mercury: #e9e9e9;
$alabaster: #f7f7f7;
$pelorous: #3dadb2;
$fuchsia: #e5087e;
$blue: #428cdf;

/* Color usage */
$colorPrimary: $blue;
$colorHeading: $grey;
$colorBase: $greyLight;
$colorBg: $alabaster;
$colorBorder: $alto;

/* Color states */

$state-danger-text: $fuchsia;

//** Link hover decoration.
$link-hover-decoration: none;

/* Spacing
-------------------------------*/
$space: 20px;
$spaceDouble: 40px;

/* Breakpoints
-------------------------------*/
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$bpoints: (
    'xsmall' : ( max-width: $screen-xs ),
    'lsmall' : ( min-width: $screen-xs ),
    'small'  : ( min-width:  $screen-sm ),
    'medium' : ( min-width:  $screen-md ),
    'large'  : ( min-width: $screen-lg )
);

/* BOOTSTRAP OVERRIDE
-------------------------------------------------*/

/* Global
-------------------------------*/
$body-bg: $white;

/* Navbar
-------------------------------*/
// Basics of a navbar
$navbar-height: 70px;
$navbar-margin-bottom: 0;
$navbar-border-radius: none;
$navbar-padding-horizontal: 0;

$navbar-default-color: $white;
$navbar-default-bg: $white;
$navbar-default-border: none;

// Navbar collapse
$grid-float-breakpoint: $screen-md;

/* Buttons
-------------------------------*/
$btn-default-color: $white;
$btn-default-bg: $fuchsia;
$btn-default-border: $colorPrimary;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;

/* Tooltip
-------------------------------*/
$tooltip-max-width: 260px;
$tooltip-color: #fff;
$tooltip-bg: darken($colorPrimary, 2%);

/* Spacing
-------------------------------*/
$grid-breakpoints: (
  xs: 0,
  sm: $screen-xs, // screen-sm-min
  md: $screen-sm, // screen-md-min
  lg: $screen-md, // screen-lg-min
);
$spacer-x-0: 0rem;
$spacer-y-0: 0rem;
$spacer-x-1: .25rem;
$spacer-y-1: .25rem;
$spacer-x-2: .5rem;
$spacer-y-2: .5rem;
$spacer-x-3: 1rem;
$spacer-y-3: 1rem;
$spacer-x-4: 1.5rem;
$spacer-y-4: 1.5rem;
$spacer-x-5: 3rem;
$spacer-y-5: 3rem;
$spacers: (
  0: (
    x: $spacer-x-0,
    y: $spacer-y-0
  ),
  1: (
    x: $spacer-x-1,
    y: $spacer-y-1
  ),
  2: (
    x: $spacer-x-2,
    y: $spacer-y-2
  ),
  3: (
    x: $spacer-x-3,
    y: $spacer-y-3
  ),
  4: (
    x: $spacer-x-4,
    y: $spacer-y-4
  ),
  5: (
    x: $spacer-x-5,
    y: $spacer-y-5
  )
);
