<h3>
  {% include components/icons/icon.liquid icon="envelope-o" color="danger" %}
  Contáctanos
</h3>

<form action="https://getsimpleform.com/messages?form_api_token={{ site.components.form.api-token }}" method="post">
  <div class="form-field">
    <input name="name" type="text" placeholder="Nombre" required>
  </div>
  <div class="form-field">
    <input name="phone" type="tel" placeholder="Teléfono" required>
  </div>
  <div class="form-field">
    <input name="email" type="email" placeholder="Correo electrónico" required>
  </div>
  <div class="form-field">
    <textarea name="comments" placeholder="Mensaje" required></textarea>
  </div>
  <input type="submit" class="btn btn-default" value="Enviar">
</form>
