<div class="col-sm-4">
  {% include components/icons/icon.liquid icon="envelope-o" %}
  <h3>Contact Us</h3>

  <ul>
    {% if page.components.info-cards.contact-us.phone %}
      <li>
        <strong>Phone:</strong>
        {{ page.components.info-cards.contact-us.phone }}
      </li>
    {% endif %}

    {% if page.components.info-cards.contact-us.emergency %}
      <li>
        <strong>Emergency:</strong>
        {{ page.components.info-cards.contact-us.emergency }}
      </li>
    {% endif %}

    {% if page.components.info-cards.contact-us.email %}
      <li>
        <strong>Email:</strong>
        {{ page.components.info-cards.contact-us.email }}
      </li>
    {% endif %}
  </ul>
</div>
