<div class="icon-box">
  {% include components/icons/icon.liquid
     icon=include.icon
     color="danger"
  %}

  <h4>
    {{ include.title }}
  </h4>

  <p>
    {{ include.description }}
  </p>
</div>
