<div class="col-sm-4">
  {% include components/icons/icon.liquid icon="map-marker" %}
      <h3>Localízanos</h3>

  <p>
    <div>{{ page.components.info-cards.location.street }},</div>
    <div>{{ page.components.info-cards.location.city }}</div>
  </p>
</div>
