<div class="col-sm-4">
  {% include components/icons/icon.liquid icon="clock-o" %}
  <h3>Horario</h3>

  <table>
    <tbody>
      <tr>
        <td>Lunes – Viernes</td>
        <td>{{ include.workdays }}</td>
      </tr>
      <tr>
        <td>Sábado - Domingo</td>
        <td>{{ include.weekends }}</td>
      </tr>
    </tbody>
  </table>
</div>
