<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      {% include components/buttons/navbar-button.html %}
      {% include components/logos/navbar-logo.liquid %}
    </div>

    <div class="collapse navbar-collapse scrollspy" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="scroll" href="#top">Home</a></li>
        <li><a class="scroll" href="#about">About</a></li>
        <li><a class="scroll" href="#treatments">Treatments</a></li>
        <li><a class="scroll" href="#team">Team</a></li>
        <li><a class="scroll" href="#testimonials">Testimonials</a></li>
        <li><a class="scroll" href="#gallery">Gallery</a></li>
        <li><a class="scroll" href="#location">Location</a></li>
      </ul>
    </div>
  </div>
</nav>
