<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      {% include components/buttons/navbar-button.html %}
      {% include components/logos/navbar-logo.liquid %}
    </div>

    <div class="collapse navbar-collapse scrollspy" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% for link in site.components.navbar %}
          <li>
            <a class="scroll" href="#{% if forloop.first %}top{% else %}{{ link | downcase }}{% endif %}">
              {{ link }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
