<!DOCTYPE html>
<html lang="es">

  <head>
    {% seo %}
    {% include components/meta/dentalsmile.liquid %}
    {% include components/fonts/google.html %}
    {% include components/stylesheets/dentalsmile.liquid %}
    {% include components/analytics/google-analytics.liquid %}
  </head>

  <body data-spy="scroll" data-offset="80" data-target=".scrollspy" id="top">
    {% include components/icons/all.svg %}
    {% include components/navbars/bootstrap.liquid %}
    {{ content }}
    {% include components/footers/dentistsmile.liquid %}
    {% include components/scripts/body.liquid %}
  </body>

</html>
